/**
 * Base.css
 * styles that are applied thoughout site
 *
 */

/**
 * Fonts
 * create and import fonts
 *
 */

@font-face {
    font-family: "Nunito Black";
    src: url("../fonts/Nunito/web/Nunito-Black.woff2") format("woff2"),
         url("../fonts/Nunito/web/Nunito-Black.woff") format("woff"),
         url("../fonts/Nunito/web/Nunito-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Nunito Bold";
    src: url("../fonts/Nunito/web/Nunito-Bold.woff2") format("woff2"),
         url("../fonts/Nunito/web/Nunito-Bold.woff") format("woff"),
         url("../fonts/Nunito/web/Nunito-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ZillaSlab Bold";
    src: url("../fonts/ZillaSlab/web/ZillaSlab-Bold.woff2") format("woff2"),
         url("../fonts/ZillaSlab/web/ZillaSlab-Bold.woff") format("woff"),
         url("../fonts/ZillaSlab/web/ZillaSlab-Bold.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "ZillaSlab SemiBold";
    src: url("../fonts/ZillaSlab/web/ZillaSlab-SemiBold.woff2") format("woff2"),
         url("../fonts/ZillaSlab/web/ZillaSlab-SemiBold.woff") format("woff"),
         url("../fonts/ZillaSlab/web/ZillaSlab-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ZillaSlab Medium";
    src: url("../fonts/ZillaSlab/web/ZillaSlab-Medium.woff2") format("woff2"),
         url("../fonts/ZillaSlab/web/ZillaSlab-Medium.woff") format("woff"),
         url("../fonts/ZillaSlab/web/ZillaSlab-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/**
 * Global Variables
 * variables below are applied appropriately through this stylesheet
 * change a variable below to change all instances
 *
 */

:root {

    /* Text */
    --font-1: "ZillaSlab Medium", Georgia, serif;
    --font-1-medium: var(--font-1);
    --font-1-semibold: "ZillaSlab Medium", Georgia, serif;
    --font-1-bold: "ZillaSlab Bold", Georgia, serif;

    --font-2: "Nunito Bold", sans-serif;
    --font-2-bold: var(--font-2);
    --font-2-black: "Nunito Black", sans-serif;

    --font-size: 16px;
    --font-size-p: 1.125em;
    --font-size-h1: 2.875em;
    --font-size-h2: 1em;
    --font-size-h3: 2.25em;
    --font-size-h4: 1em;

    /* Color */
    --color-1: #79111E;
    --color-2: #E6D410;
    --color-3: #4D2908;
    --white: #fff;

    /* Utils */
    --border-radius: 2em;
}


/**
 * Wildcard
 * all elements
 *
 */

* {
    box-sizing: border-box;
}


/**
 * Body
 * bottom of the cascade styling
 *
 */

body {
    color: var(--color-3);
    font-family: var(--font-1);
    font-size: var(--font-size);
}

.body-wrap {
    display: flex;
    height: 100%;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

/**
 * Headers
 *
 */

h1,
h3 {
    font-family: var(--font-1-semibold);
}

h2,
h4 {
    font-family: var(--font-2-black);
}

h1 {
    color: var(--color-3);
    font-size: var(--font-size-h1);
}

h2 {
    color: var(--color-3);
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}


/**
 * Components
 * base styles for site elements
 *
 */

a {
    text-decoration: underline;
}

    a:hover {
        cursor: pointer;
        outline: 1px 1px #fff;
        text-decoration: none;
        transition: ;
    }

a:target {}
a:active {}

img {
    height: auto;
    max-width: 100%;
}

h2.subtitle {
    background: #fff;
    display: inline-block;
    letter-spacing: 0.05em;
    line-height: 1;
    padding: 10px 16px 8px;
    text-transform: uppercase;
}

button,
button.btn {
    background: transparent;
    border-radius: var(--border-radius);
    color: var(--color-1);
    border: 2px solid var(--color-1);
    font-size: var(--font-size);
    line-height: 2;
    padding: .312em 1.5em;
    text-transform: uppercase;
    text-align: left;
}



/**
 * Utilities
 * classes that do something helpful
 *
 */
