/**
 * Base.css
 * styles that are applied thoughout site
 *
 */

/**
 * Fonts
 * create and import fonts
 *
 */

@font-face {
    font-family: "Nunito Black";
    src: url("../fonts/Nunito/web/Nunito-Black.woff2") format("woff2"),
         url("../fonts/Nunito/web/Nunito-Black.woff") format("woff"),
         url("../fonts/Nunito/web/Nunito-Black.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Nunito Bold";
    src: url("../fonts/Nunito/web/Nunito-Bold.woff2") format("woff2"),
         url("../fonts/Nunito/web/Nunito-Bold.woff") format("woff"),
         url("../fonts/Nunito/web/Nunito-Bold.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "ZillaSlab Bold";
    src: url("../fonts/ZillaSlab/web/ZillaSlab-Bold.woff2") format("woff2"),
         url("../fonts/ZillaSlab/web/ZillaSlab-Bold.woff") format("woff"),
         url("../fonts/ZillaSlab/web/ZillaSlab-Bold.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "ZillaSlab SemiBold";
    src: url("../fonts/ZillaSlab/web/ZillaSlab-SemiBold.woff2") format("woff2"),
         url("../fonts/ZillaSlab/web/ZillaSlab-SemiBold.woff") format("woff"),
         url("../fonts/ZillaSlab/web/ZillaSlab-SemiBold.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "ZillaSlab Medium";
    src: url("../fonts/ZillaSlab/web/ZillaSlab-Medium.woff2") format("woff2"),
         url("../fonts/ZillaSlab/web/ZillaSlab-Medium.woff") format("woff"),
         url("../fonts/ZillaSlab/web/ZillaSlab-Medium.ttf") format("truetype");
    font-style: normal;
}


/**
 * Global Variables
 * variables below are applied appropriately through this stylesheet
 * change a variable below to change all instances
 *
 */

:root {

    /* Text */
    --font-1: "ZillaSlab SemiBold", Georgia, serif;
    --font-1-medium: "ZillaSlab Medium", Georgia, serif;
    --font-1-semibold: var(--font-1);
    --font-1-bold: "ZillaSlab Bold", Georgia, serif;

    --font-2: "Nunito Bold", sans-serif;
    --font-2-bold: var(--font-2);
    --font-2-black: "Nunito Black", sans-serif;

    --font-size: 16px;
    --font-size-p: 1.125em;
    --font-size-h1: 2.875em;
    --font-size-h2: 1em;
    --font-size-h3: 2.25em;
    --font-size-h4: 1em;

    /* Color */
    --color-1: #79111E;
    --color-2: #E6D410;
    --color-3: #4D2908;
    --white: #fff;

    --color-2-55:  rgba(230,212,16,0.55);

    /* Utils */
    --border-radius: 2em;
}


/**
 * Wildcard
 * all elements
 *
 */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

/**
 * Body
 * bottom of the cascade styling
 *
 */

body {
    color: var(--color-3);
    font-family: var(--font-1);
    font-size: var(--font-size);
    height: 100%;
}

.body-wrap {
    display: flex;
    height: 100%;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

/**
 * Headers
 *
 */

h1,
h3 {
    font-family: var(--font-1-semibold);
}

h2,
h4 {
    font-family: var(--font-2-black);
}

h1 {
    color: var(--color-3);
    font-size: var(--font-size-h1);
}

h2 {
    color: var(--color-3);
    font-size: var(--font-size-h2);
    letter-spacing: 0.06375em;
    line-height: 1.25;
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}


/**
 * Components
 * base styles for site elements
 *
 */

main a {
    color: inherit;
    border-bottom: 1px solid var(--color-3);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

    main a:hover {
        color:  inherit;
        cursor: pointer;
        border-bottom: 1px solid #fff;
        text-decoration: none;
    }

a:target {}
a:active {}

img {
    height: auto;
    max-width: 100%;
}

label {
    font-family: var(--font-1-semibold);
    font-size:  1.25rem;
    letter-spacing: 2px;
}


button,
button.btn {
    background: transparent;
    border-radius: var(--border-radius);
    color: var(--color-1);
    border: 2px solid var(--color-1);
    font-size: var(--font-size);
    line-height: 2;
    padding: .5rem 1.5rem;
    text-transform: uppercase;
    text-align: left;
    transition:  0.2s all ease;
}
    button:hover,
    button:focus,
    button.btn:hover,
    button.btn:focus {
        color: var(--color-1);
        background: rgba(255,255,255,0.55);
    }

    button:active,
    button.btn:active {
        color: var(--color-1);
        background: rgba(255,255,255,1);   
    }



/**
 * Global Classes
 * 
 */

.subtitle {
    background: #fff;
    display: inline-block;
    padding: 10px 20px 9px;
    text-transform: uppercase;
}

.filter-title {
    border-bottom: 2px solid #fff;
    display: inline-block;
    font-family: var(--font-2-black);
    font-size: 1em;
    padding: 0 4px 6px 0;
    text-transform: uppercase;
}

    .filter-title:before {
        background-image: url("/static/providers/img/icons/i_filter.svg");
        background-size: 100% auto;
        background-repeat: no-repeat;
        content: '';
        display: inline-block;
        height: 22.2px;
        margin-right: 12px;
        padding-bottom: 6px;
        position: relative;
        vertical-align: middle;
        width: 18px;
    }

/* For any richtext elements inside a filter-title */
.filter-title * {
    display: inline;
}


.btn-filter {
    font-family: var(--font-1-medium);
    letter-spacing: 0.025em;
    position: relative;
}

    .btn-filter:after {
        border-top: 7.5px solid #fff;
        border-right:  7.5px solid transparent;
        border-left:  7.5px solid transparent;
        content: '';
        position: absolute;
        right:  20px;
        top:  50%;
        transform:  translate(0,-50%);
        transition:  0.2s all ease;
    }

    .btn-filter:hover:after {
        border-top-color:  var(--color-3);
    }


button.btn-secondary {
    font-family: var(--font-1-medium);
    letter-spacing: 0.025em;
    position: relative;
    padding-right:  60px;
}
    
    .btn-secondary:after {
        background-image:  url("/static/providers/img/icons/i_arrow-right@2x.png");
        background-size: 100% auto;
        background-repeat: no-repeat;
        content: '';
        height: 20px;
        position: absolute;
        right: 20px;
        top:  50%;
        transform:  translate(0,-50%);
        width: 20px;
    }

    .btn-secondary:hover {
        color:  var(--color-1);
        background:  rgba(255,255,255,0.55);
    }


.btn-clear {
    border: 2px solid var(--color-2);
    border-radius: 0;
    padding: .5rem 1rem;
}


/*
 * Richtext fields
 *
 */

[data-block-key] {
    font-family: var(--font-1-medium);
}

[data-block-key] strong,
[data-block-key] b {
    font-family: var(--font-1-bold);
    font-weight: normal;
}

/*
 * Forms
 *
 */

.list-group-item {
    border:  none;
    color:  var(--color-3);
    padding:  1rem;
}

/*
 * Modal
 *
 */

.modal-filter .btn-secondary {
    background: var(--color-2-55);
}
    
    .modal-filter .btn-secondary:after {
        background-image:  url("/static/providers/img/icons/i_arrow-right_white@2x.png");
    }

    .modal-filter .btn-secondary:hover {
        background: var(--color-2);
    }   

.modal-filter .modal-content {
    border: none;
    padding:  4rem 2rem 2rem;
}

.modal-filter .modal-header {
    border:  none;
    padding-left: 25%;
}

.modal-filter .modal-body {
    color:  var(--color-3);
    padding-left: 25%;
}

.modal-filter .modal-footer {
    border: none;
}


/**
 * Utilities
 * classes that do something helpful
 *
 */
