#categories-header,
.context-link {
  text-align: center;
}

hr {
  border-top: 0.1rem solid #0098a8;
}

.card {
}

.filtering {
  background: #fff;
}

.categories-container {
  /* background-color: #EEE; */
  /* border-radius: 0.2rem; */
  /* border: 0.05rem solid #666; */
  padding: 1.5rem;
}

.categories-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.subcategories-flex-container {
  justify-content: normal;
}

.products-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.category-container {
  /* border-radius: 0.2rem; */
  /* border: 0.05rem solid #555; */
  background-color: white;
  /* width: 120px; */
  text-align: center;
  /* height: 120px; */
}

.category-container:hover {
  /* border: 0.05rem solid #0098a8; */
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0,152,184,0.2), 0.15rem 0.15rem 0.15rem 0.15rem rgba(0,152,184,0.19);
  /* margin: 0 0.2rem 0.2rem 0; */
}

.category-image {
  width: auto;
  max-width: 100%;
  /* max-width: 100px; */
  height: auto;
  max-height: 100px;
  margin: 10px;
}

.category-name {
  background: rgba(0,0,0,0.5);
  bottom:0;
  color: white;
  font-size: .875em;
  text-align: center;
  font-weight:bold;
}

.category-link:hover {
  text-decoration: none;
}

.category-container:hover .category-name {
  background: rgba(0,152,184,0.5);
}

.category-container-slim .category-image {
  width: 4rem;
  margin: 0.25rem;
}

.results-count {
  background-color: white;
  border: 0.05rem solid black;
  border-radius: 0.2rem;
  margin: 1rem 0;
  padding: 1rem 0 0 0.5rem;
}

.results-category-image {
  height: 2.4rem
}

.product-link {
  display: contents;
}

.product-container {
  border: solid black 0.05rem;
  border-radius: 0.2rem;
  padding: 0.25rem;
  width: 25%;
  margin: 0.15rem;
  min-width: 15rem;
  background-color: white;
  box-sizing: content-box;
}

.card {
  flex: 1;
}

.subcard {
  margin: 0 1rem;
}

.subcard .collapse {
  margin: 0.5rem;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li > label {
  margin-bottom: 0;
}

#collapse-product-category {
  max-height: 50vh;
  overflow-y: auto;
}
