.details-container {
  max-width: 80vw;
  margin: auto;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 4px;
}


.provider-details-list li {
  list-style-type: none;
}

.provider-notes {
  padding-left: 2.5rem;
}
