footer {
  background: var(--color-2);
  bottom: 0;
}

.footer-brand {
  max-width: 125px;
}

.footer-brand img {
  width: 76px;
  height: auto;
}

footer div.footer-modal-launcher,
footer a.link-external,
footer a.link-internal {
  color: var(--color-3);
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
  font-family: var(--font-2-black);
  font-size: var(--font-size-h4);
  letter-spacing: 1px;
  text-transform: uppercase;
  vertical-align: middle;
}

div.footer-col {
  padding: 0.4rem;
  min-height: 100%;
}

div.footer-col .block-image img {
  height: auto;
  max-height: 36px;
  width: auto;
  max-width: 30px;
}

div.footer-col>div.block-text>p{
  margin-bottom: 0;
}

footer .navbar>div.footer-container {
  align-items: flex-start;
}
