footer {
  background: var(--color-2);
  /* background: #E6D410; */
}

.footer-brand {
  max-width: 125px;
}

.footer-brand img {
  width: 76px;
  height: auto;
}

.footer-col .block-image {
  height: auto;
  width: 42px;
}
