.header {
  background: var(--color-2);
  display: block;
  padding-top: 3rem;
  padding-bottom: 1rem;
  position: relative;
}

.header-slim {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.navbar-brand {
  align-items: center;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 125px;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 125px;
}

.project-logo {
  height: auto;
  width: 76px;
}
