#categories_header {
    text-align: left;
}

.welcome-text {
    font-size: 1.25em;
    padding: 10px 14px 0;
}

.welcome-text [data-block-key] strong, 
.welcome-text [data-block-key] b {
    font-family: var(--font-1-semibold);
    font-weight: normal;
}

.welcome-text > p:last-child {
    font-family: var(--font-1-medium);
    font-size: .875em;
}

#selection-links {
    padding:  0 14px;
}

.template-home .modal-filter .modal-content {
    padding:  4rem 2rem 2rem;
}

.template-home .modal-filter .modal-header {
    padding-left: 25%;
}

.template-home .modal-filter .modal-body {
    padding-left: 25%;
}
