.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  flex: 100%;
}

.well {
  z-index: 0;
}

.template-producer h4 {
  border-bottom: 2px solid var(--color-2);
  color:  var(--color-3);
  display: inline-block;
  margin: 2rem auto 1rem;
  padding-bottom:  .375rem;
  text-transform: uppercase;
}

.template-producer h4 img {
  display: inline-block;
  margin: 0 3px;
  vertical-align: baseline;
}

.template-producer {
  color: #000;
  font-family: var(--font-1-medium);
}

.template-producer strong,
.template-producer b {
  font-family: var(--font-1-bold);
}

.container-fluid > .well {
  color:  var(--color-3);
  padding-bottom: 50px;
  padding-top: 38px;
  position: relative;
}

.container-fluid > .well:before {
  border-left: 38px solid transparent;
  border-right: 38px solid transparent;
  border-top: 35px solid var(--color-2);
  bottom: -35px;
  left: 50%;
  content: "";
  position: absolute;
  transform: translate(-38px);
}

.container-fluid > .well:after {
  background: var(--color-2);
  content: "";
  height: 100%;
  left: var(--bs-gutter-x,-.75rem);
  position: absolute;
  right: var(--bs-gutter-x,-.75rem);
  top: 0;
  z-index: -1;
}

.container-fluid > .well p {
  margin-bottom: 0;
}

#provider-left-column,
#provider-right-column {
  padding-top: 4rem;
}

#provider-left-left,
#provider-right-right {
  overflow: hidden;
  text-overflow: ellipsis;
}

#provider-left-column:after {
  background: var(--color-2);
  bottom:  3rem;
  content: "";
  position: absolute;
  right: -1px;
  top: 3rem;
  width: 2px;
}

#provider-right-column .btn-filter {
  height: 100%;
}

  #provider-right-column .btn-filter:after {
    border-top-color: var(--color-1);
  }

  #provider-right-column .btn-filter:hover:before {
    background: var(--color-2);
    border-radius: 2em;
    bottom: 0;
    content: "";
    left: 0;
    opacity: .35;
    position: absolute;
    top: 0;
    right: 0;
  }

#provider-right-column .btn-filter img {
  height: 50px;
  margin-right: 10px;
  width: 50px;
}

.category-column-header,
.img-container {
  text-align: center;
}

.distributor-address {
  margin-left: 1.5rem;
}


/* Responsive layout - from one column layout (100%) to two-column layout (50%) */
@media (min-width: 48em) {
  .flex-item {
    flex: 50%;
  }
}