.results-prompt {
	font-size: 1.06375rem;
}

.results-advice {
	font-size: 1.06375rem;
}

#results-count:empty {
	background: transparent;
	display: inline-block;
	height: 1em;
	margin: 0px 1ch;
	position: relative;
	width: 60px;
}

	#results-count:empty:before {
		content: "...";
		font-family: var(--font-1-medium);
		left:  50%;
		letter-spacing: 2px;
		position: absolute;
		top: 50%;
		transform: translate(-50%,-50%);
	}

#results-count:not(:empty) {
	color: var(--color-1);
	display: inline-block;
	font-family: var(--font-2-black);
	font-size: 1.3125rem;
	line-height: 2;
	margin: 0 1ch;
	padding: 0;
	position: relative;
}

#results-count:not(:empty)::after {
	content: "";
	border:  2px solid #fff;
	border-radius: 50%;
	left: 50%;
	position: absolute;
	padding:  calc(30% + 1ch);
	transform: translate(-50%, -50%);
	top: 49%;
}

#categories-header h3 {
	margin: 1rem 0 2rem;
}

.template-results #categories-header {
	border-right: none;
}

button#printer-friendly {
	float: right;
}

p.provider-card-location {
	font-family: var(--font-2-bold);
	font-size: 10px;
	letter-spacing: 1px;
}
