
@font-face {
    font-family:"Nunito Bold";
    src:url("Nunito-Bold.woff2") format("woff2"),url("Nunito-Bold.woff") format("woff"),url("Nunito-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        