
@font-face {
    font-family:"Nunito Black";
    src:url("Nunito-Black.woff2") format("woff2"),url("Nunito-Black.woff") format("woff"),url("Nunito-Black.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        