
@font-face {
    font-family:"Zilla Slab SemiBold";
    src:url("ZillaSlab-SemiBold.woff2") format("woff2"),url("ZillaSlab-SemiBold.woff") format("woff"),url("ZillaSlab-SemiBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        