
@font-face {
    font-family:"Zilla Slab Bold";
    src:url("ZillaSlab-Bold.woff2") format("woff2"),url("ZillaSlab-Bold.woff") format("woff"),url("ZillaSlab-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        