
@font-face {
    font-family:"Zilla Slab Medium";
    src:url("ZillaSlab-Medium.woff2") format("woff2"),url("ZillaSlab-Medium.woff") format("woff"),url("ZillaSlab-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        