{% load static %}
<HTML>
  <head>
    <link rel="stylesheet" href="{% static "providers/libraries/bootstrap-4.2.1-dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "providers/css/header.css" %}">
    {% block additional_header %}
    {% endblock %}
  </head>
  <body>
    {% block header-content %}
      {% include "header.html" %}
    {% endblock %}
    {% block content %}
    {% endblock %}

    <script src="{% static "providers/libraries/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "providers/libraries/popper.min.js" %}"></script>
    <script src="{% static "providers/libraries/bootstrap-4.2.1-dist/js/bootstrap.min.js" %}"></script>
    {% block additional_js %}
    {% endblock %}
  </body>
</HTML>
