{% extends "base.html" %}
{% load static %}

{% block additional_header %}
<link rel="stylesheet" href="{% static "providers/css/categories.css" %}">
{% endblock %}

{% block header-content %}
  {% include "header-slim.html" %}
{% endblock %}

{% block content %}
<div class="container">
  {% if category.parent %}
    <div class="row">
      <div class="col-12">
        <a href="/providers/category/{{category.parent.pk}}">
          Show all <b>{{ category.parent.name }}</b> results
        </a>
      </div>
    </div>
  {% endif %}
  <div class="categories-container">
    <!-- child categories -->
    {% if children|length > 0 %}
      <p>{{ category.name }} Categories</p>
      <div class="row">
        <div class="col-12 categories-flex-container subcategories-flex-container">
          {% for child_category in children %}
            <a class="category-link" href="/providers/category/{{child_category.pk}}/">
              <div class="category-container category-container-slim">
                <img class="category-image" src="{{child_category.image}}">
                <div class="category-name">{{child_category.name}}</div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>

      <hr />
    {% endif %}

    <div class="row">
      <div class="col-md-4 order-first order-md-2">
        <h3>Refine your search</h3>
        {{ filter_form.non_field_errors }}
        <h4>...by Product Details</h4>

        <div class="fieldWrapper">
          <label for="{{ filter_form.product_category.id_for_label }}"></label>
          {{ filter_form.product_category.errors }}
          {{ filter_form.product_category }}
        </div>
        <h4>...by Supplier Details</h4>

        <h5>Production Capacity</h5>
        <div class="fieldWrapper">
          <label for="{{ filter_form.capacity.id_for_label }}">Show me sellers who produce or harvest</label>
          {{ filter_form.capacity.errors }}
          {{ filter_form.capacity }} {{ filter_form.capacity.label }}
        </div>

        <h5>Distribution Method</h5>
        <div class="fieldWrapper">
          <label for="{{ filter_form.distribution.id_for_label }}">{{ filter_form.distribution.label }}</label>
          {{ filter_form.distribution.errors }}
          {{ filter_form.distribution }}
        </div>

        <h5>Availability</h5>
        <div class="fieldWrapper">
          <label for="{{ filter_form.availability.id_for_label }}">{{ filter_form.availability.label }}</label>
          {{ filter_form.availability.errors }}
          {{ filter_form.availability }}
        </div>

      </div>
      <div class="col-md-8 order-last order-md-1">
        {% if provider_products.count > 0 %}
          <div class="row-fluid">
            <div class="col-12 results-count">
              <p>
                <img class="results-category-image" src="{{category.image}}">
                We found <b>{{ provider_products.count }}</b> products for <b>{{category.name }}</b>.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 products-flex-container" id="product-results-list">
              {% include "product_results.html" %}
            </div>
          </div>
        {% else %}
          <p>No providers were found meeting these criteria</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block additional_js %}
  <script src="{% static "providers/js/filter.js" %}"></script>
{% endblock %}
