{% extends "base.html" %}
{% load static %}

{% block additional_header %}
<link rel="stylesheet" href="{% static "providers/css/categories.css" %}">
{% endblock %}

{% block header-content %}
  {% include "header-slim.html" %}
{% endblock %}

{% block content %}
<div class="container">
  {% if category.parent %}
    <div class="row">
      <div class="col-12">
        <a href="/providers/category/{{category.parent.pk}}">
          Back to {{ category.parent.name }}
        </a>
      </div>
    </div>
  {% endif %}
    <div class="categories-container">
    <!-- child categories -->
    {% if children|length > 0 %}
    <h2>{{ category.name }} Categories</h2>
    <div class="row">
      <div class="col-12 categories-flex-container subcategories-flex-container">
        {% for category in children %}
          <a class="category-link" href="/providers/category/{{category.pk}}/">
            <div class="category-container category-container-slim">
              <img class="category-image" src="{{category.image}}">
              <div class="category-name">{{category.name}}</div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>

    <hr />
    {% endif %}

    <div class="row">
      <div class="col-12 well">
        <h2>Products</h2>
        {% if provider_products.count > 0 %}
          {% for product in provider_products %}
            <div class="row">
              <div class="col-12">
                <a href="/providers/product/{{product.pk}}/">
                  <div style="border: solid black 1px; border-radius: 4px; padding: 5px;">
                    {{ product.provider.name }}<br/>
                    {{ product.name }}
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        {% else %}
          <p>No products found meeting these criteria</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
