{% extends "base.html" %}

    {% block content %}
    <div class="container">
      {% for category in categories %}
        {% if forloop.counter0|divisibleby:4 %}
          {% if not forloop.first %}
          </div>
          {% endif %}
          <div class="row">
        {% endif %}

        <div class="col-3">
          <a href="/providers/category/{{category.pk}}/">
            <div style="border: 2px solid black; width:100px; height:100px; background-image: url('{{category.image}}');background-position: center; background-repeat: no-repeat; background-size: cover; margin: 5px;">
              {{category.name}}
            </div>
          </a>

        </div>
        {% if forloop.last %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% endblock %}
