{% extends "base.html" %}
{% load static %}

{% block additional_header %}
<link rel="stylesheet" href="{% static "providers/css/categories.css" %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="well categories-container">
    <div class="row">
      <div class="col-12" id="categories-header">
        <h3>Select a product to find Oregon suppliers that want to work with schools</h3>
        <div id="selection-links" class="row">
          <div class="col-6 context-link">
            <a target="_blank" href="https://www.oregon.gov/ode/students-and-family/childnutrition/F2S/Pages/OregonHarvestforSchools.aspx">
              Oregon Harvest for Schools Main Page
            </a>
          </div>
          <div class="col-6 context-link">
            <a target="_blank" href="https://vimeo.com/352842407">
              Video: How to Use This Site
            </a>
          </div>
        </div>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-12 categories-flex-container">
        <a class="category-link" href="/providers/category/">
          <div class="category-container">
            <img class="category-image" src="{{ default_image }}">
            <div class="category-name">All</div>
          </div>
        </a>
        {% for category in categories %}
          <a class="category-link" href="/providers/category/{{category.pk}}/">
            <div class="category-container">
              <img class="category-image" src="{{category.image}}">
              <div class="category-name">{{category.name}}</div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
