{% extends "base.html" %}
{% load static %}

  {% block additional_header %}
    <link rel="stylesheet" href="{% static "providers/css/details.css" %}">
    <script>
      var providerValue = `{{ provider.name }}`;
      // Sends an event that passes 'category' as a parameter.
      gtag('event', providerValue, {
        'event_category': 'provider',
        'event_label': 'provider_hit',
        'value': 1
      });
    </script>
  {% endblock %}

  {% block header-content %}
    {% include "header-slim.html" %}
  {% endblock %}

  {% block content %}
    {% if provider %}
      <div class="details-container container">
      <h1 class='provider-name'>{{ provider.name }}</h1>

        <p>
          {% if provider.physicalAddressCity and provider.physicalAddressState %}
          {{ provider.physicalAddressCity }}, {{ provider.physicalAddressState.initialism }}
          {% else %}
          {{ provider.businessAddressCity }}, {{ provider.businessAddressState.initialism }}
          {% endif %}
        </p>
        <hr />
        <div class="row">
          <div class="col-md">

            {% if provider.description %}
              <p>{{ provider.description }}</p>
            {% endif %}

            {% if provider.primaryContactFirstName or provider.primaryContactLastName %}
              <p>
                <b>Primary Contact:</b> {{ provider.primaryContactFirstName }} {{ provider.primaryContactLastName}}
              </p>
            {% endif %}
            {% if provider.businessAddressCity and provider.businessAddressState %}
              <div class="contact-address">
                <b>{% if not provider.physicalAddressIsSame %}Business {% endif %}Address:</b>
                <ul class='provider-details-list business-address-list'>
                  {% if provider.businessAddressLine1 %}
                    <li>{{ provider.businessAddressLine1 }}</li>
                  {% endif %}
                  {% if provider.businessAddressLine2 and not provider.businessAddressLine2 == '' %}
                    <li>{{ provider.businessAddressLine2 }}</li>
                  {% endif %}
                  <li>{{ provider.businessAddressCity }}, {{ provider.businessAddressState.initialism }}</li>
                  {% if provider.businessAddressZipCode and not provider.businessAddressZipCode == '' %}
                    <li>{{ provider.businessAddressZipCode }}</li>
                  {% endif %}
                </ul>
              </div>
              {% if not provider.physicalAddressIsSame and provider.physicalAddressCity and provider.physicalAddressState %}
                <div class="contact-address">
                  <b>Physical Address:</b>
                  <ul class='provider-details-list physical-address-list'>
                    {% if provider.physicalAddressLine1 and not provider.physicalAddressLine1 == '' %}
                      <li>{{ provider.physicalAddressLine1 }}</li>
                    {% endif %}
                    {% if provider.physicalAddressLine2 and not provider.physicalAddressLine2 == '' %}
                      <li>{{ provider.physicalAddressLine2 }}</li>
                    {% endif %}
                    <li>{{ provider.physicalAddressCity }}, {{ provider.physicalAddressState.initialism }}</li>
                    {% if provider.physicalAddressZipCode and not provider.physicalAddressZipCode == '' %}
                      <li>{{ provider.physicalAddressZipCode }}</li>
                    {% endif %}
                  </ul>
                </div>
              {% endif %}
            {% endif %}

            {% if provider.officePhone%}
              <p>
                <b>Office Phone:</b> {{ provider.officePhone }}
              </p>
            {% endif %}
            {% if provider.cellPhone %}
              <p>
                <b>Cell Phone:</b> {{ provider.cellPhone }}
              </p>
            {% endif %}
            {% if provider.email %}
              <p>
                <b>Email:</b> {{ provider.email }}
              </p>
            {% endif %}
            {% if provider.websiteAddress %}
              <p>
                <b>Website:</b> {{ provider.websiteAddress }}
              </p>
            {% endif %}

            <p>
              <b>Liability Insurance Amount</b>:
                {% if provider.productLiabilityInsuranceAmount %}
                  {{ provider.productLiabilityInsuranceAmount }}
                {% else %}
                  Unknown
                {% endif %}
            </p>

            {% if provider.deliveryMethods.all.count > 0 %}
              <b>Delivery Methods:</b>
              <ul class='provider-details-list delivery-methods-list'>
                {% for method in provider.deliveryMethods.all %}
                  <li>{{ method.name }}</li>
                {% endfor %}
              </ul>
            {% endif %}

            {% if provider.distributors.all.count > 0 %}
              <b>Distributors:</b>
              <ul class='provider-details-list distributors-list'>
                {% for distributor in provider.distributors.all %}
                  <li>{{ distributor.name }}</li>
                {% endfor %}
              </ul>
            {% endif %}

            {% if provider.regionalAvailability.all.count > 0 %}
              <b>Regional Availability (by county):</b>
              <ul class='provider-details-list counties-list'>
                {% for subregion in provider.regionalAvailability.all %}
                  <li>{{ subregion.name }}</li>
                {% endfor %}
              </ul>
            {% endif %}

            {% if provider.orderMinimum %}
              <p>
                <b>Order Minimum:</b> {{ provider.orderMinimum }}
              </p>
            {% endif %}

            {% if provider.orderMinimum %}
              <p>
                <b>Delivery Minimum:</b> {{ provider.deliveryMinimum }}
              </p>
            {% endif %}

            {% if provider.productionPractices.all.count > 0 %}
              <b>Production Practices:</b>
              <ul class='provider-details-list production-practices-list'>
                {% for practice in provider.productionPractices.all %}
                  <li>{{ practice.name }}</li>
                {% endfor %}
              </ul>
            {% endif %}

            {% if provider.identities.all.count > 0 %}
              <b>We identify as:</b>
              <ul class='provider-details-list identities-list'>
                {% for identity in provider.identities.all %}
                  <li>{{ identity.name }}</li>
                {% endfor %}
              </ul>
            {% endif %}

            <p>Information last updated: {{ provider.dateInfoUpdated }}</p>
          </div><!-- end col 1 -->
            <div class="col-md">
              <h2>Products</h2>
              <ul class='provider-details-list products-list'>
                {% for product in products %}
                  <li><a href="/providers/product/{{ product.id }}/">{{ product.name }}</li>
                {% endfor %}
              </ul>
            </div><!-- end col 2 -->
        </div>
      </div>
    {% else %}
      <p>Producer not found</p>
    {% endif %}
  {% endblock %}
