{% load static %}
{% load wagtailcore_tags %}
<HTML>
  <head>
    <title>OH4S</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static "providers/css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "providers/libraries/bootstrap-5.0.1/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "providers/css/base.css" %}">
    <link rel="stylesheet" href="{% static "providers/css/header.css" %}">
    <link rel="stylesheet" href="{% static "providers/css/footer.css" %}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141387987-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-141387987-1', { 'allow_ad_personalization_signals': false });
    </script>

    <script src="{% static "providers/libraries/jquery-3.6.0.min.js" %}"></script>
    {# <script src="{% static "providers/libraries/popper.min.js" %}"></script> #}
    <script src="{% static "providers/libraries/bootstrap-5.0.1/js/bootstrap.bundle.min.js" %}"></script>

    {% block additional_header %}
    {% endblock %}
  </head>
  <body>
    {% block header-content %}
      {% include "cms/header.html" %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer_wrap %}
      <footer class="container-fluid header">
        {% block footer %}
          {% include 'cms/footer_page.html' with page=footer_page %}
        {% endblock %}
      </footer>
    {% endblock footer_wrap %}

    {% block modals %}
    {% endblock %}


    {% block additional_js %}
    {% endblock %}
    {% block feedback_form %}
    {% endblock %}
  </body>
</HTML>
