{% load static %}
{% load wagtailcore_tags %}
<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>OH4S</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'providers/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'providers/libraries/bootstrap-5.0.1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'providers/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'providers/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'providers/css/footer.css' %}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141387987-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-141387987-1', { 'allow_ad_personalization_signals': false });
    </script>

    <script src="{% static 'providers/libraries/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'providers/libraries/bootstrap-5.0.1/js/bootstrap.bundle.min.js' %}"></script>

    {% block additional_header %}
    {% endblock %}
  </head>
  <body class="{% block body_class %}template-base{% endblock %}">
    <div class="body-wrap">
      {% block header-content %}
        {% include "cms/header.html" %}
      {% endblock %}

      {% block main-wrap %}
        <main>
          {% block content %}
          {% endblock %}
        </main>
      {% endblock %}

      {% block footer_wrap %}
        <footer class="container-fluid header">
          {% block footer %}
            {% include 'cms/footer_page.html' with page=footer_page %}
          {% endblock %}
        </footer>
      {% endblock footer_wrap %}
    </div>

    {% block modals %}
    {% endblock %}

    {% block js %}
      <script src="{% static '/providers/js/base.js' %}"></script>
      <script src="{% static '/providers/libraries/popper.min.js' %}"></script>
    {% endblock %}

    {% block additional_js %}
    {% endblock %}
    {% block feedback_form %}
    {% endblock %}
  </body>
</HTML>
