{% load static %}
{% load wagtailcore_tags %}
<header class="container-fluid header">
  <div class="row">
    <nav class="navbar">
      <div class="container">
        <div class="col-auto">
          <a class="navbar-brand" href="/">
            <img class="project-logo" src="{{ header_image }}">
          </a>
        </div>
        <div class="col">
          <h1 class="navbar-text">{% block site_title %}{{ header_title }}{% endblock %}</h1>
        </div>
        <div class="col-auto">
          <form role="search" method="get" class="search-form" action="/results/">
            <input type="search" class="search-field" placeholder="Search" name="search-term" title="Search for:" />
            <button type="submit" class="btn-submit">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </button>
          </form>
        </div>
      </div>
    </nav>
  </div>
</header>
