{% extends "cms/base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block additional_header %}
  <link rel="stylesheet" href="{% static "providers/css/home.css" %}">
  <link rel="stylesheet" href="{% static "providers/css/categories.css" %}">
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block header-content %}
  {% include "cms/header.html" %}
{% endblock %}

{% block content %}
<div class="container-fluid filtering">
  <div class="well">
    <div class="row">
      <div class="col-6" id="categories-header" class='filtering' >
        <div class="welcome-text">{{ page.welcome_text|richtext }}</div>
        <div id="selection-links" class="row">
          <div class="col-6 context-link">
            <a target="_blank" href="https://www.oregon.gov/ode/students-and-family/childnutrition/F2S/Pages/OregonHarvestforSchools.aspx">
              Oregon Harvest for Schools Main Page
            </a>
          </div>
          <div class="col-6 context-link">
            <a target="_blank" href="https://vimeo.com/352842407">
              Video: How to Use This Site
            </a>
          </div>
        </div>
      </div>
      <!-- Filter Images -->
      <!-- Harcode and add filter images here -->
      <!-- FIlters -->
      <div class="col-6">
      <!-- <div class="row row-cols-3 row-cols-md-5"> -->
        <div class="col filter-prompt">{{ page.filter_prompt|richtext }}</div>
        {% for filter in filters %}
          <div class="col">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{filter.facet}}-modal">{{ filter.name }}</button>

            <div class="modal fade" id="{{filter.facet}}-modal" tabindex="-1" aria-labelledby="{{filter.facet}}-modal" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="{{filter.facet}}-modal-label">{{ filter.name }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <form name="{{ filter.facet }}" class='home-filter-form filter-form'>
                        {% if filter.widget == 'multiselect' or filter.widget == 'multiselect-spatial' %}
                          <div class="list-group">
                            {% for option in filter.options %}
                              <label class="list-group-item">
                                <input class="form-check-input me-1" name="{{ filter.facet }}" type="checkbox" value="{{ option.value }}" {% if option.state %}checked="checked"{% endif %} />
                                {{ option.label }}
                              </label>
                            {% endfor %}
                          </div>
                        {# {% elif filter.widget == 'multiselect-spatial' %} #}
                        {% else %}
                          <p>Add new widget options to template</p>
                        {% endif %}
                      </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Apply</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

        <div class="col">
          <button type="button" class="btn btn-secondary" id='home-filter-button' onclick='go_to_results()'>Browse All &gt;&gt;</button>
        </div>
        <div class="col"></div>
      </div>
      <!-- end filters -->

  </div>
</div>

<div class="container">
  <div class="well categories-container" id="category-selection">
    <div class="row p-4">
      <div class="col text-center">
        <div class='category-header'>{{ page.categories_header|richtext }}</div>
      </div>
    </div>

    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-1">
      <div class="col categories-flex-container">
        <div class="card h-100 category-link" onclick="go_to_results()">
          <div class="category-container">
            <img class="card-img-top category-image" src="{{ default_image }}">
            <!-- <div class="card-body">
              <div class="card-title"></div>
              <div class="card-text"></div>
            </div> -->
          </div>
          <div class="card-footer category-name">All</div>
        </div>
      </div>
      {% for category in categories %}
        <div class="col">
          <!-- <a class="card h-100 category-link" href="/providers/category/{{category.pk}}/"> -->
          <div class="card h-100 category-link" onclick="go_to_product_results({{category.pk}}, '{{ category.name }}')">
            <div class="category-container">
              <img class="card-img-top category-image" src="{{category.image}}" alt="{{ category.name }}">
              <!-- <div class="card-body">
                <div class="card-title"></div>
                <div class="card-text"></div>
              </div> -->
            </div>
            <div class="card-footer category-name">{{category.name}}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block additional_js %}
  {{ block.super }}
  <script src="{% static "providers/js/home.js" %}"></script>
{% endblock %}
