{% extends "cms/base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block additional_header %}
  <link rel="stylesheet" href="{% static "providers/css/home.css" %}">
  <link rel="stylesheet" href="{% static "providers/css/categories.css" %}">
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block welcome-content %}
  {% include "cms/welcome.html" %}
{% endblock %}

{% block content %}
<div class="container-fluid filtering">
  <div class="well">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 py-1 pe-2" id="categories-header" class='filtering'>
          <h2 class="subtitle">{{ page.welcome }}</h2>
          <div class="welcome-text">{{ page.welcome_text|richtext }}</div>
        </div>
        <!-- Filter Images -->
        <!-- Harcode and add filter images here -->
        <!-- FIlters -->
        <div class="col-12 col-md-6 py-1 ps-2">
          <div class="row ps-md-3 pt-1 pb-2">
            <div class="col filter-prompt">
              <h2 class="filter-title">{{ page.filter_prompt }}</h2>
            </div>
          </div>
          <div class="row justify-content-center align-items-center ps-1 ps-md-3 pt-3 pb-2 screen-min-medium">
            <div class="col-12 py-1 col-md-6 text-center">
              <img src="{% static '/providers/img/icons/i_identity_alt.svg' %}" alt="icon-hand" class="filter-icon" />
            </div>
            <div class="col-12 py-1 col-md-6 text-center">
              <img src="{% static '/providers/img/icons/i_availability_alt.svg' %}" alt="icon available" class="filter-icon" />
            </div>
          </div>
          <div class="row row-cols-1 row-cols-xl-2 align-items-center ps-md-3 pt-2 pb-2">
            {% for filter in filters %}
              <div class="py-2 filter-wrap">
                <button type="button" class="btn w-100 btn-filter" data-bs-toggle="modal" data-bs-target="#{{filter.facet}}-modal">{{ filter.name }}</button>

                <div class="modal fade modal-filter" id="{{filter.facet}}-modal" tabindex="-1" aria-labelledby="{{filter.facet}}-modal" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class='row'>
                          {% if filter.image %}
                            <div class='col-3'>
                              <img src='{{ filter.image }}' class='filter-modal-header-image'>
                            </div>
                          {% endif %}
                          <div class='col-9'>
                            <h3 class="modal-title" id="{{filter.facet}}-modal-label">
                              {{ filter.title }}
                            </h3>
                            {{ filter.blurb|safe }}
                          </div>
                        </div>
                        <form name="{{ filter.facet }}" class='home-filter-form filter-form'>
                          {% if filter.widget == 'multiselect' or filter.widget == 'multiselect-spatial' %}
                            <div class="list-group">
                              {% for option in filter.options %}
                                <label class="list-group-item">
                                  <input class="form-check-input me-1" name="{{ filter.facet }}" type="checkbox" value="{{ option.value }}" {% if option.state %}checked="checked"{% endif %} />
                                  {{ option.label }}
                                </label>
                              {% endfor %}
                            </div>
                          {# {% elif filter.widget == 'multiselect-spatial' %} #}
                          {% else %}
                            <p>Add new widget options to template</p>
                          {% endif %}
                        </form>
                      </div>
                      <div class="modal-footer">
                        <div class="w-100 btn-toolbar justify-content-between">
                          <button type="button" class="btn-clear">Clear</button>
                          <button type="button" class="btn btn-secondary btn-apply" data-bs-dismiss="modal">Apply</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
            <div class="col-12 col-xl-6 py-1">
              <button type="button" class="btn btn-secondary w-100" id='home-filter-button' onclick='go_to_results()'>{{ page.browse_all_button }}</button>
            </div>
          </div>
        </div>
        <!-- end filters -->
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="well categories-container" id="category-selection">
    <div class="row p-4">
      <div class="col text-center">
        <div class='category-header'>{{ page.categories_header }}</div>
      </div>
    </div>

    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-xl-6 g-2">
      <div class="col categories-flex-container">
        <div class="card h-100 category-link" onclick="go_to_results()">
          <div class="category-container">
            <img class="card-img-top category-image" src="{{ default_image }}">
            <!-- <div class="card-body">
              <div class="card-title"></div>
              <div class="card-text"></div>
            </div> -->
          </div>
          <div class="card-footer category-name">All</div>
        </div>
      </div>
      {% for category in categories %}
        <div class="col">
          <!-- <a class="card h-100 category-link" href="/providers/category/{{category.pk}}/"> -->
          <div class="card h-100 category-link" onclick="go_to_product_results({{category.pk}}, '{{ category.name }}')">
            <div class="category-container">
              <img class="card-img-top category-image" src="{{category.image}}" alt="{{ category.name }}">
              <!-- <div class="card-body">
                <div class="card-title"></div>
                <div class="card-text"></div>
              </div> -->
            </div>
            <div class="card-footer category-name">{{category.name}}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block additional_js %}
  {{ block.super }}
  <script>
    var browse_all_default = "{{ page.browse_all_button }}";
    var browse_filtered_default = "{{ page.browse_filtered_button }}";
  </script>
  <script src="{% static "providers/js/home.js" %}"></script>
{% endblock %}
