{% extends "cms/base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block additional_header %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'providers/css/producer.css' %}">
{% endblock %}

{% block body_class %}template-producer{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="well">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 py-1 pe-2 seperator-right">
          <div class="row">
            <div class="col-auto">
              <button onclick="window.history.back();" class="btn-back">Back</button>
            </div>
            <div class="col">
              <h2 class="subtitle">{{ page.subtitle}}</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 ps-4">
              <h3 class="welcome-text">{{ provider.name }}</h3>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 py-1 ps-4">
          <div class="row ps-md-3 pt-1 pb-2 align-items-center">
            <div class="col-auto">
              <span id="name-icon"><img src="{% static '/providers/img/icons/i_person.svg' %}" alt="icon person" /></span>
            </div>
            <div class="col">
              <p>{{ provider.primaryContactFirstName }} {{ provider.primaryContactLastName }}</p>
            </div>
          </div>

          {% if provider.officePhone or provider.cellPhone%}
            <div class="row ps-md-3 pt-1 pb-3 align-items-center">
              <div class="col-auto">
                <span id="phone-icon" class="icon-circle"><img src="{% static '/providers/img/icons/i_phone.svg' %}" alt="icon phone" /></span>
              </div>
              <div class="col">
                <p>
                  {% if provider.officePhone %}
                    Office: {{ provider.officePhone.as_national }}
                  {% endif %}
                  {% if provider.officePhone and provider.cellPhone%}
                    <span class='text-separator'>|</span>
                  {% endif %}
                  {% if provider.cellPhone %}
                    Cell: {{ provider.cellPhone.as_national }}
                  {% endif %}
                </p>
              </div>
            </div>
          {% endif %}
          {% if provider.email %}
            <div class="row ps-md-3 pt-1 pb-3 align-items-center">
              <div class="col-auto">
                <span id="email-icon" class="icon-circle"><img src="{% static '/providers/img/icons/i_envelope.svg' %}" alt="icon email" /></span>
              </div>
              <div class="col">
                <a href="mailto:{{ provider.email }}?subject=OH4S%20Inquiry">{{ provider.email }}</a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-6 pe-2 pe-xl-3" id="provider-left-column">
        <h4>About</h4>
        <div class="row expandable-wrap">
          <div class="col">
            <p class='expandable show'>{{ provider.description }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-xl-6" id="provider-left-left">
            {% if provider.websiteAddress %}
            
              <h4>
                <span id="name-website"><img src="{% static '/providers/img/icons/i_browser.svg' %}" alt="icon website" /></span>
                Website
              </h4>

              <a href="{{ provider.websiteAddress }}" target="_blank">
                {{ provider.websiteAddress }}
              </a>
            {% endif %}
            {% if provider.businessAddressCity and provider.businessAddressState %}
                <h4>
                  <span><img src="{% static '/providers/img/icons/i_pin.svg' %}" alt="icon pin" /></span>
                  {% if provider.physicalAddressCity and not provider.physicalAddressIsSame %}
                    Business Address:
                  {% else %}
                    Location:
                  {% endif %}
                </h4>
                <p>
                  {% if provider.businessAddressLine1 %}
                    {{ provider.businessAddressLine1 }}<br />
                  {% endif %}
                  {% if provider.businessAddressLine2 and not provider.businessAddressLine2 == '' %}
                    {{ provider.businessAddressLine2 }}<br />
                  {% endif %}
                  {{ provider.businessAddressCity }}, {{ provider.businessAddressState.initialism }}
                  {% if provider.businessAddressZipCode and not provider.businessAddressZipCode == '' %}
                    <br />
                    {{ provider.businessAddressZipCode }}
                  {% endif %}
                </p>
              {% if not provider.physicalAddressIsSame and provider.physicalAddressCity and provider.physicalAddressState %}
                  <h4>
                    <span><img src="{% static '/providers/img/icons/i_pin.svg' %}" alt="icon pin" /></span>
                    Physical Location:
                  </h4>
                  <p>
                    {% if provider.physicalAddressLine1 and not provider.physicalAddressLine1 == '' %}
                      {{ provider.physicalAddressLine1 }}<br />
                    {% endif %}
                    {% if provider.physicalAddressLine2 and not provider.physicalAddressLine2 == '' %}
                      {{ provider.physicalAddressLine2 }}<br />
                    {% endif %}
                    {{ provider.physicalAddressCity }}, {{ provider.physicalAddressState.initialism }}
                    {% if provider.physicalAddressZipCode and not provider.physicalAddressZipCode == '' %}
                      <br />
                      {{ provider.physicalAddressZipCode }}
                    {% endif %}
                  </p>
              {% endif %}
            {% endif %}
            {% if provider.regionalAvailability.all.count > 0 %}
              <h4>
                <span><img src="{% static '/providers/img/icons/i_trifold-map.svg' %}" alt="icon county" /></span>
                Availability By County
              </h4>
              <div class="row expandable-wrap">
                <div class="col">
                  <div class="expandable show">
                    {% for county in provider.regionalAvailability.all %}
                      <div>
                        {{ county.name }}
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            {% endif %}
            {% if provider.productLiabilityInsurance == 'Yes' %}
              {% if provider.productLiabilityInsuranceAmount %}
                <h4>Liability Insurance</h4>
                <div>
                  {{ provider.productLiabilityInsuranceAmount }}
                </div>
              {% else %}
                <h4>Has Liability Insurance</h4>
                <div>
                  {{ provider.productLiabilityInsurance }}
                </div>
              {% endif %}
            {% endif %}
            {% if provider.identities.all.count > 0 %}
              <h4>Self-Identifiers</h4>
              <div class="row expandable-wrap">
                <div class="col">
                  <div class="expandable show">
                    {% for identity in provider.identities.all %}
                      <div>
                        {{ identity.name }}
                        {% if identity.description %}
                          &nbsp; &nbsp;
                          <span class="info-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ identity.description }}">&#9432;</span>
                        {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            {% endif %}
            {% if provider.productionPractices.all.count > 0 %}
              <h4>
                <span class="icon-circle"><img src="{% static '/providers/img/icons/i_leaf.svg' %}" alt="icon production practices" /></span>
                Production Practices
              </h4>
              <div class="row expandable-wrap">
                <div class="col">
                  <div class="expandable show">
                    {% for practice in provider.productionPractices.all %}
                      <div>
                        {% if practice.definitionLink %}
                          <a href="{{ practice.definitionLink }}" target="_blank">
                        {% endif %}
                        {{ practice.name }}
                        {% if practice.definitionLink %}
                          </a>
                        {% endif %}
                        {% if practice.description %}
                           &nbsp; &nbsp;
                          <span class="info-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ practice.description }}">&#9432;</span>
                        {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
          <div class="col-12 col-xl-6" id="provider-left-right">
            {% if provider.deliveryMethods.all.count > 0 %}
              <h4>
                <span><img src="{% static '/providers/img/icons/i_box.svg' %}" alt="icon delivery" /></span>
                Delivery
              </h4>
              <div class="row expandable-wrap">
                <div class="col">
                  <div class="expandable show">
                    {% for method in provider.deliveryMethods.all %}
                      <div>
                        {{ method.name }}
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            {% endif %}
            {% if provider.distributors.all.count > 0 %}
              <h4>
                <span><img src="{% static '/providers/img/icons/i_distributors.svg' %}" alt="icon distributors" /></span>
                Distributors
              </h4>
              <div class="row expandable-wrap">
                <div class="col">
                  <div class="expandable show">
                    {% for distributor in provider.distributors.all %}
                      {% if distributor.has_popup %}
                        <div data-bs-toggle="modal" data-bs-target="#distributor-{{ distributor.id }}">
                      {% else %}
                        <div>
                      {% endif %}
                          {{ distributor.name }}
                        </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            {% endif %}
            {% if provider.orderMinimum %}
              <h4>
                <span><img src="{% static '/providers/img/icons/i_dollar-sign.svg' %}" alt="icon order min" /></span>
                Order Minimum
              </h4>
              <div>
                {{ provider.orderMinimum }}
              </div>
            {% endif %}
            {% if provider.preferredContactMethod.all.count > 0 %}
              <h4>Best Way To Contact</h4>
              <div class="row expandable-wrap">
                <div class="col">
                  <div class="expandable show">
                    {% for method in provider.preferredContactMethod.all %}
                      <div>
                        {{ method.name }}
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            {% endif %}
            {% if provider.preferredLanguage.all.count > 0 %}
              <h4>
                <span><img src="{% static '/providers/img/icons/i_web.svg' %}" alt="icon languages" /></span>
                Language{% if provider.preferredLanguage.all.count > 1 %}s{% endif %}
                Spoken
              </h4>
              <div class="row expandable-wrap">
                <div class="col">
                  <div class="expandable show">
                    {% for language in provider.preferredLanguage.all %}
                      <div>
                        {{ language.name }}
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            {% endif %}
            {% if provider.soldToSchoolsBefore == 'Yes' %}
              {% if provider.schoolsSoldTo.all.count > 0 %}
                <h4>
                  <span><img src="{% static '/providers/img/icons/i_school.svg' %}" alt="icon school districts" /></span>
                  School Districts Sold To
                </h4>
                <div class="row expandable-wrap">
                  <div class="col">
                    <div class="expandable show">
                      {% for district in provider.schoolsSoldTo.all %}
                        <div>
                          {{ district.name }}
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              {% else %}
                <h4>Has sold to schools before</h4>
                <div>
                  {{ provider.soldToSchoolsBefore }}
                </div>
              {% endif %}
            {% endif %}
            {% if provider.notes %}
              <h4>
                <span><img src="{% static '/providers/img/icons/i_note.svg' %}" alt="icon notes" /></span>
                Additional Notes
              </h4>
                <div>
                  {{ provider.notes }}
                </div>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col-12 update-tag">
            Information last updated: {{ provider.dateUpdated }}
          </div>
        </div>
        <div class="row">
          <div class="col-12 producer-blurb">
            {{ page.bottom_blurb }}
          </div>
        </div>
      </div>

      <div class="col-6 ps-3 ps-xl-5" id="provider-right-column">
        <h4>Products</h4>
        <div class="row row-cols-1 row-cols-xl-2 justify-content-stretch my-2 g-3">
          {% for category in provider.product_categories %}
            <div class="col product">
              <button type="button" class="btn w-100 btn-filter" data-bs-toggle="modal" data-bs-target="#category-{{ category.object.id }}">
                <image src="{{ category.object.image_string }}" />
                {{ category.object.name }}
              </button>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block modals %}
  <!-- Modals -->
  {% for category in provider.product_categories %}
    <div class="modal fade" id="category-{{ category.object.id }}" tabindex="-1" aria-labelledby="category-{{ category.object.id }}Label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row align-items-center">
              <div class="col-auto">
                <image src="{{ category.object.image_string }}" class="provider-product-image" />
              </div>
              <div class="col">
                <h1>{{ category.object.name }}</h1>
              </div>
            </div>
            <div class="row">
              <h3 class="col">Forms Available</h3>
            </div>
            {% if category.pack_size_present %}
              <!-- Use 5 cols if pack size coloumn -->
              <!-- <div class="row row-cols-sm-1 row-cols-lg-5"> -->
            {% else %}
              <!-- Use 4 cols if no pack size coloumn -->
              <!-- <div class="row row-cols-sm-1 row-cols-lg-4"> -->
            {% endif %}
            <table class='producer-product-table'>
              <tr>
                <th class="col category-column-header">
                  <h4>Variety</h4>
                </th>
                <th class="col category-column-header">
                  <h4>Form</h4>
                </th>
                <th class="col category-column-header">
                  <h4>Components</h4>
                </th>
                {% if category.pack_size_present %}
                  <th class="col category-column-header">
                    <h4>Packaging</h4>
                  </th>
                {% endif %}
                {% if category.notes_present %}
                  <th class="col category-column-header">
                    <h4>Notes</h4>
                  </th>
                {% endif %}
              </tr>
            {% for product in category.products %}
              <tr>
              {% if category.pack_size_present %}
                 <!-- Use 5 cols if pack size coloumn -->
                <!-- <div class="row row-cols-sm-1 row-cols-lg-5"> -->
              {% else %}
                <!-- Use 4 cols if no pack size coloumn -->
                <!-- <div class="row row-cols-sm-1 row-cols-lg-4"> -->
              {% endif %}
                <td class="col">
                  {{ product.variety }}
                  {% if product.description %}
                    <span class='info-icon' data-bs-toggle="tooltip" data-bs-placement="top" title="{{ product.description }}">&#9432;</span>
                  {% endif %}
                </td>
                <td class="col">
                  {{ product.form }}
                </td>
                <td class="col">
                  {{ product.usda_meal_components }}
                </td>
                {% if category.pack_size_present %}
                  <td class="col">
                    {% if product.pack_size %}
                      {{ product.pack_size }}
                    {% endif %}
                  </td>
                {% endif %}
                {% if category.notes_present %}
                  <td class="col img-container">
                    {% if product.notes %}
                      <img src="{% static 'providers/img/icons/i_note.svg' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ product.notes }}" />
                    {% endif %}
                  </td>
                {% endif %}

              </tr>
            {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% for distributor in provider.distributors.all %}
    <div class="modal fade" id="distributor-{{ distributor.id }}" tabindex="-1" aria-labelledby="distributor-{{ dstributor.id }}Label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h3>{{ distributor.name }}</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% if distributor.websiteAddress %}
              <div class='distributor-form-field'>
                <b>Website:</b>
                <a href="{{ distributor.websiteAddress}}" target="_blank">
                  {{ distributor.websiteAddress}}
                </a>
              </div>
            {% endif %}
            {% if distributor.email %}
              <div class='distributor-form-field'>
                <b>Email:</b>
                <a href = "mailto:{{ distributor.email }}">
                  {{ distributor.email }}
                </a>
              </div>
            {% endif %}
            {% if distributor.phone %}
              <div class='distributor-form-field'>
                <b>Phone:</b> {{ distributor.phone.as_national }}
              </div>
            {% endif %}
            {% if distributor.fax %}
              <div class='distributor-form-field'>
                <b>Fax:</b> {{ distributor.fax.as_national }}
              </div>
            {% endif %}
            {% if distributor.primaryContactFirstName  or distributor.primaryContactLastName %}
              <div class='distributor-form-field'>
                <b>Primary Contact:</b> {{ distributor.primaryContactFirstName }} {{ distributor.primaryContactLastName }}
              </div>
            {% endif %}
            {% if distributor.businessAddressLine1 or distributor.businessAddressCity or distributor.businessAddressState %}
              <div class='distributor-form-field'>
                <b>Address:</b>
                <div class='distributor-address'>
                  {% if distributor.businessAddressLine1 %}
                    {{ distributor.businessAddressLine1 }} <br />
                    {% if distributor.businessAddressLine2 %}
                      {{ distributor.businessAddressLine2 }} <br />
                    {% endif %}
                  {% endif %}
                  {% if distributor.businessAddressCity %}
                    {{ distributor.businessAddressCity }},
                  {% endif %}
                  {% if distributor.businessAddressState %}
                    {{ distributor.businessAddressState.initialism }} <br />
                  {% endif %}
                  {% if distributor.businessAddressZipCode %}
                    {{ distributor.businessAddressZipCode }}
                  {% endif %}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block additional_js %}

  {{ block.super }}

{% endblock %}
